// scss-lint:disable SelectorFormat
.YT { grid-area: YT; }
.NT { grid-area: NT; }
.NU { grid-area: NU; }
.BC { grid-area: BC; }
.AB { grid-area: AB; }
.SK { grid-area: SK; }
.MB { grid-area: MB; }
.ON { grid-area: ONT; }
.QC { grid-area: QC; }
.NL { grid-area: NL; }
.NS { grid-area: NS; }
.NB { grid-area: NB; }
.PE { grid-area: PE; }

.container {

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  padding: 5px;

  h4 {
    margin: 0;
    text-align: center;
  }

  hr {
    margin: 3px 60px;
  }
}

.threshold {
  background-color: #f6b4b4;
}