.container {

  border-radius: 5px;

  display: flex;
  flex-direction: column;

  margin: 10px;
  padding: 5px;

  h4 {
    margin: 0;
    text-align: center;
  }

  hr {
    margin: 3px 60px;
  }
}

.upperThreshold {
  background-color: #fcdcdc;
}

.middleThreshold {
  background-color: #fff0f0;
}

.lowerThreshold {

}
