// scss-lint:disable SelectorFormat
.range {

  align-items: center;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  p {
    font-size: 12pt;
  }

  > p {
    font-size: 16pt;
  }

  > div {

    p {
      font-size: 14pt;
      font-weight: 600;
    }

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }
  }
}

.thresholdPicker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
