.container {

  display: flex;
  flex-direction: column;

  justify-content: center;
  min-height: 100vh;

  padding: 0 5vw;
}

.canada {

  display: grid;
  grid-template:
          "YK NT NV . ."
          "BC AB SK MB ONT"
          "QC NL NS NB PE";

  > div {
    margin: 10px;
  }
}
