.container {

  display: flex;
  flex-direction: column;

  justify-content: center;
  min-height: 100vh;

  padding: 0 5vw;

  ul {
    li {
      list-style: circle inside;
      margin: 5px 0;
    }
  }
}

.notes {

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1400px) {

    flex-direction: row;

    hr {
      display: none;
    }

    .passage {

      margin-left: 50px;

      h3 {
        margin-top: 0;
      }
    }
  }
}
